<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
      The above 2 meta tags *must* come first in the <head>
      to consistently ensure proper document rendering.
      Any other head element should come *after* these tags.
     -->
    <title>Flower and Fungi</title>
  </head>
  <body>
    <div class="nav_bar">
    </div>
    <div class="carousel">
    </div>
    <div class="body">
    </div>
  
  </body>
  <footer>
  </footer>
</html>
